/DungeonsOfNoudarX11/.idea/.name
/DungeonsOfNoudarX11/cmake-build-debug/CMakeCache.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/CMakeCCompilerId.c
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/Makefile.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/Makefile2
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/clion-environment.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/clion-log.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/cmake.check_cache
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/C.includecache
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/CXX.includecache
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/DependInfo.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/build.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/cmake_clean.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/depend.internal
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/depend.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/flags.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/link.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x11.dir/progress.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/DependInfo.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/build.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/cmake_clean.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/depend.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/flags.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/link.txt
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/dungeons_of_noudar_x111.dir/progress.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/feature_tests.bin
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/feature_tests.c
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/feature_tests.cxx
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/DependInfo.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/build.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/cmake_clean.cmake
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/depend.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/flags.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/noudar_core.dir/progress.make
/DungeonsOfNoudarX11/cmake-build-debug/CMakeFiles/progress.marks
/DungeonsOfNoudarX11/cmake-build-debug/Makefile
/DungeonsOfNoudarX11/cmake-build-debug/cmake_install.cmake
/DungeonsOfNoudarX11/cmake-build-debug/dungeons_of_noudar_x11
/DungeonsOfNoudarX11/cmake-build-debug/dungeons_of_noudar_x11.cbp
/DungeonsOfNoudarX11/cmake-build-debug/dungeons_of_noudar_x111.cbp
/DungeonsOfNoudarX11/cmake-build-debug/noudar_core.cbp
/DungeonsOfNoudar-NDK/.idea/libraries/espresso_core_2_2_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/espresso_idling_resource_2_2_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/exposed_instrumentation_api_publish_0_4_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/hamcrest_core_1_3.xml
/DungeonsOfNoudar-NDK/.idea/libraries/hamcrest_integration_1_3.xml
/DungeonsOfNoudar-NDK/.idea/libraries/hamcrest_library_1_3.xml
/DungeonsOfNoudar-NDK/.idea/libraries/javassist_3_18_2_GA.xml
/DungeonsOfNoudar-NDK/.idea/libraries/javawriter_2_1_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/javax_annotation_api_1_2.xml
/DungeonsOfNoudar-NDK/.idea/libraries/javax_inject_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/jsr305_2_0_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/junit_4_12.xml
/DungeonsOfNoudar-NDK/.idea/libraries/mockito_all_1_10_8.xml
/DungeonsOfNoudar-NDK/.idea/libraries/mockito_core_1_8_0_rc2.xml
/DungeonsOfNoudar-NDK/.idea/libraries/objenesis_2_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_api_mockito_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_api_support_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_classloading_base_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_core_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_module_javaagent_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_module_junit4_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_module_junit4_common_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_module_junit4_rule_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_module_junit4_rule_agent_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/powermock_reflect_1_6_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/rules_0_4_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/runner_0_4_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/support_annotations_23_1_1.xml
/DungeonsOfNoudar-NDK/.idea/libraries/uiautomator_v18_2_1_1.xml
/DungeonsOfNoudarSDL/noudar
/DungeonsOfNoudarX11/noudar
/DungeonsOfNoudarX11/noudar.html
/DungeonsOfNoudar-NDK/.idea/compiler.xml
/DungeonsOfNoudar-NDK/.idea/copyright/profiles_settings.xml
/DungeonsOfNoudar-NDK/.idea/gradle.xml
/DungeonsOfNoudar-NDK/.idea/libraries/audio_unspecified.xml
/DungeonsOfNoudar-NDK/.idea/libraries/base_unspecified.xml
/DungeonsOfNoudar-NDK/.idea/libraries/common_unspecified.xml
/DungeonsOfNoudar-NDK/.idea/libraries/protobuf_javanano_3_0_0_alpha_7.xml
/DungeonsOfNoudar-NDK/.idea/misc.xml
/DungeonsOfNoudar-NDK/.idea/modules.xml
/DungeonsOfNoudar-NDK/.idea/runConfigurations.xml
/DungeonsOfNoudar-NDK/.idea/vcs.xml
/DungeonsOfNoudar-NDK/.idea/workspace.xml
/DungeonsOfNoudar-NDK/DungeonsOfNoudar-NDK.iml
/DungeonsOfNoudar-NDK/app/app.iml
/DungeonsOfNoudar-NDK/audio/audio.iml
/DungeonsOfNoudar-NDK/base/base.iml
/DungeonsOfNoudar-NDK/common/common.iml
/DungeonsOfNoudarX11/.idea/DungeonsOfNoudarX11.iml
/DungeonsOfNoudarX11/.idea/knightsofiberia.iml
/DungeonsOfNoudarX11/.idea/misc.xml
/DungeonsOfNoudarX11/.idea/modules.xml
/DungeonsOfNoudarX11/.idea/workspace.xml
/DungeonsOfNoudarX11/noudar.data
/DungeonsOfNoudarX11/noudar.html.mem
/DungeonsOfNoudarX11/noudar.js
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/

# Gradle files
.gradle/
build/
/*/build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log
