[submodule "DungeonsOfNoudar-NDK/app/src/main/jni/gles2-renderer"]
	path = DungeonsOfNoudar-NDK/app/src/main/jni/gles2-renderer
	url = https://github.com/TheFakeMontyOnTheRun/gles2-renderer.git
[submodule "DungeonsOfNoudar-NDK/common_includes/glm-head"]
	path = DungeonsOfNoudar-NDK/common_includes/glm-head
	url = https://github.com/g-truc/glm.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "socketiocpp"]
	path = socketiocpp
	url = https://github.com/socketio/socket.io-client-cpp.git
[submodule "stb"]
	path = stb
	url = https://github.com/TheFakeMontyOnTheRun/stb.git
[submodule "nanovg"]
	path = nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "gsl"]
	path = gsl
	url = https://github.com/Microsoft/GSL
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "gles2-renderer"]
	path = gles2-renderer
	url = https://github.com/TheFakeMontyOnTheRun/gles2-renderer.git
[submodule "noudar-core"]
	path = noudar-core
	url = https://github.com/TheFakeMontyOnTheRun/noudar-core
